<h1>{{title}}</h1>

<ul>
  <li>
    <span>🌎</span>
    <a href="biz-simple?section=">
      전체
    </a>
  </li>
  {{#each sections}}
    <li>
      <span>{{icon}}</span>
      <a href="biz-simple?section={{section_id}}">
        {{section_name}}
      </a>
    </li>
  {{/each}}
</ul>